.about {
    padding: 20px;
}

.about-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
}

.about-text {
    color: #333; /* Dark text color for contrast against the white background */
}

.about-text h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    color: #ffd700;
}

.about-text h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.about-text p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.about-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px; /* Adjust gap between images */
}

.about-image {
    border-radius: 16px;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.about-image:first-child {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.about-image:last-child {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
}

/* Responsive Styles */
@media (max-width: 1024px) {
    .about-container {
    grid-template-columns: 1fr;
    text-align: center;
    }

    .about-images {
    grid-template-columns: 1fr 1fr; /* Adjust number of columns as needed */
    grid-template-rows: auto; /* Reset rows for mobile view */
    gap: 10px; /* Adjust gap for mobile */
    }

    .about-image:first-child,
    .about-image:last-child {
    grid-column: auto; /* Reset grid columns for mobile */
    grid-row: auto; /* Reset grid rows for mobile */
    }
}

@media (max-width: 768px) {
    .about-text h1 {
    font-size: 2rem; /* Adjust font size for smaller screens */
    }

    .about-text h2 {
    font-size: 1.5rem; /* Adjust font size for smaller screens */
    }

    .about-text p {
    font-size: 0.9rem; /* Adjust font size for smaller screens */
    }

    .about-images {
    grid-template-columns: 1fr; /* Single column layout for smaller screens */
    }
}

@media (max-width: 480px) {
    .about-text h1 {
    font-size: 1.5rem; /* Further adjust font size for smallest screens */
    }

    .about-text h2 {
    font-size: 1.25rem; /* Further adjust font size for smallest screens */
    }

    .about-text p {
    font-size: 0.8rem; /* Further adjust font size for smallest screens */
    }
}