.header {
  background-color: #f8f9fa;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  height: 60px;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-list li {
  margin-left: 20px;
}

.nav-list a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-list a:hover {
  color: #f4ce14;
}

.footer {
  background: linear-gradient(90deg, #495e57 0%, #39494a 50%, #4e555d 100%);
  color: #fff;
  padding: 40px 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap; /* Allows wrapping of columns */
}

.footer-column {
  flex: 1;
  margin-right: 20px;
}

.footer h3 {
  font-size: 1.5rem;
}

.footer p {
  margin: 10px 0;
}

.footer-logo {
  height: 240px;
  max-width: 100%;
  display: block;
  margin-bottom: 20px;
}

.footer-nav {
  list-style: none;
  padding: 0;
}

.footer-nav li {
  margin-bottom: 5px;
}

.footer-nav a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

.footer-nav a:hover {
  color: #f4ce14; /* Hover color */
}

.social-links {
  display: flex;
}

.social-link {
  margin-right: 10px;
  color: #fff;
  text-decoration: none;
}

.social-link:hover {
  color: #f4ce14;
}

.footer-bottom {
  margin-top: 20px;
  text-align: center;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-column {
    margin-right: 0;
    margin-bottom: 20px; /* Add space between columns */
    text-align: center; /* Center-align text for better readability */
  }

  .social-links {
    justify-content: center; /* Center social links */
  }

  .footer-logo {
    height: 120px; /* Reduce logo size for mobile */
  }
}
