.nav {
    display: flex;
    align-items: center;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-list li {
    margin-left: 20px;
  }
  
  .nav-list a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    position: relative;
    transition: color 0.3s ease;
    padding: 10px 15px;
  }
  
  .nav-list a:hover {
    color: #f4ce14;
  }

  .nav-list a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #231f0a;
    transition: width 0.3s ease;
  }
  
  .nav-list a:hover::after {
    width: 100%;
  }
  
  .nav.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 20px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 200px;
    animation: slideIn 0.3s forwards;
  }
  
  .nav.inactive {
    animation: slideOut 0.3s forwards;
  }
  
  .nav-list.active {
    flex-direction: column;
  }
  
  .nav-list li {
    margin: 10px 0;
  }
  
  @keyframes slideIn {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideOut {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(100%);
      opacity: 0;
    }
  }
  